body {
  background-color: burlywood;
}

.movie-items {
  border: 1px solid black;
  height: 100vh;
}

.green {
  color: green;
}


#right-container {
  /* z-index: 3; */
  height: 300px;
  border: 1px solid black;
  display: inline-block;
}

/* #large-left-container {
  display: flex;
} */