body {
  background-image: url('../img/background.jpg');
  background-size: contain;
  /* background-repeat: no-repeat; */
}

.movie-items {
  border: 1px solid black;
  height: 100vh;
  border-radius: 5px;
}

.green {
  color: green;
}

.red {
  color: red;
}


#right-container {
  /* z-index: 3; */
  height: 300px;
  /* border: 1px solid black; */
  display: inline-block;
}

/* #large-left-container {
  display: flex;
} */